In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv('./dataset.csv')
df['Drained_after_socializing'] = pd.Series(map(lambda x: x == 'Yes', df['Drained_after_socializing']))
df['Stage_fear'] = pd.Series(map(lambda x: x == 'Yes', df['Stage_fear']))
df['Personality'] = pd.Series(map(lambda x: x == 'Extrovert', df['Personality']))
df

In [ ]:
X = df.drop('Personality', axis=1)
y = df['Personality']

plot_x = []
plot_y = []

for i in range(1, 50):
    classifier = Pipeline(steps=[
        ('scaler', StandardScaler()),
        ('knn', KNeighborsClassifier(n_neighbors=i))
    ])
    scores = cross_val_score(classifier, X, y, cv=5)

    plot_x.append(i)
    plot_y.append(np.average(scores))

fig, ax = plt.subplots(1, 1)
ax.set_xlabel('K')
ax.set_ylabel('avg score')
ax.set_title('Desempenho por valor de K')
ax.plot(plot_x, plot_y)

In [38]:
scores_df = pd.DataFrame({
    'k': pd.Series(plot_x),
    'score': pd.Series(plot_y),
})

scores_df.sort_values(by=['score'], ascending=False)Cartão Nubank

     k     score
24  25  0.934828
18  19  0.934828
23  24  0.934828
22  23  0.934828
25  26  0.934828
44  45  0.934483
33  34  0.934483
28  29  0.934483
47  48  0.934483
46  47  0.934483
29  30  0.934483
30  31  0.934483
31  32  0.934483
45  46  0.934483
32  33  0.934483
34  35  0.934483
43  44  0.934483
35  36  0.934483
27  28  0.934483
37  38  0.934483
38  39  0.934483
39  40  0.934483
40  41  0.934483
41  42  0.934483
42  43  0.934483
36  37  0.934483
48  49  0.934483
26  27  0.934483
21  22  0.934483
19  20  0.934483
14  15  0.934483
20  21  0.934138
16  17  0.934138
15  16  0.934138
17  18  0.933793
12  13  0.933103
13  14  0.933103
11  12  0.931724
10  11  0.931379
9   10  0.930690
8    9  0.930345
6    7  0.928966
7    8  0.928621
5    6  0.927931
4    5  0.927586
3    4  0.918276
2    3  0.916552
0    1  0.878966
1    2  0.878621